**/rebel.xml
.idea
**/target/
*.iml
*.tar.gz
**/.DS_Store
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
burypoint/.settings/org.eclipse.core.resources.prefs
burypoint/.settings/org.eclipse.m2e.core.prefs
burypoint/.settings/org.eclipse.wst.common.project.facet.core.xml
curriculum/.settings/org.eclipse.core.resources.prefs
curriculum/.settings/org.eclipse.m2e.core.prefs
curriculum/.settings/org.eclipse.wst.common.project.facet.core.xml
emend-sub/.settings/org.eclipse.core.resources.prefs
emend-sub/.settings/org.eclipse.m2e.core.prefs
emend-sub/.settings/org.eclipse.wst.common.project.facet.core.xml
homework/.settings/org.eclipse.core.resources.prefs
homework/.settings/org.eclipse.m2e.core.prefs
homework/.settings/org.eclipse.wst.common.project.facet.core.xml
payment/.settings/org.eclipse.core.resources.prefs
payment/.settings/org.eclipse.m2e.core.prefs
payment/.settings/org.eclipse.wst.common.project.facet.core.xml
subsystem-server/.settings/org.eclipse.core.resources.prefs
subsystem-server/.settings/org.eclipse.m2e.core.prefs
subsystem-server/.settings/org.eclipse.wst.common.project.facet.core.xml
sys/.settings/org.eclipse.core.resources.prefs
sys/.settings/org.eclipse.m2e.core.prefs
sys/.settings/org.eclipse.wst.common.project.facet.core.xml
task-server/.settings/org.eclipse.core.resources.prefs
task-server/.settings/org.eclipse.m2e.core.prefs
task-server/.settings/org.eclipse.wst.common.project.facet.core.xml
wechat-teacher-server/.settings/org.eclipse.core.resources.prefs
wechat-teacher-server/.settings/org.eclipse.m2e.core.prefs
wechat-teacher-server/.settings/org.eclipse.wst.common.project.facet.core.xml
wechat-teacher-sub-server/.settings/org.eclipse.core.resources.prefs
wechat-teacher-sub-server/.settings/org.eclipse.m2e.core.prefs
wechat-teacher-sub-server/.settings/org.eclipse.wst.common.project.facet.core.xml

homework/src/main/resources/rebel\.xml
